@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    height: 2000px;
}

:root {
    --background-color: #2e3440;
    --header-color: #3b4252;
    --main-containers-color: #4c566a;
    --font-family: "Outfit", Segoe UI, sans-serif;
}

html {
    font-size: 17px;
    color: white;
}

body {
    background-color: var(--background-color);
    position: relative;
}

/* ------------- HEADER ------------- */

header {
    background-color: var(--header-color);
    margin-bottom: 50px;
    font-family: var(--font-family);
    position: sticky;
    top: 0;
}

#header-section {
    max-width: 1300px;
    margin: 0px auto;
}

#header-section nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#header-section nav h1 {
    margin: 0px;
    white-space: nowrap;
}

#header-section nav ul {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

#left-header-container,#right-header-container {
    width: 30%
}

#header-section nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 10px;
    margin: 0px 20px;
    font-size: 40px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


#header-section #chapter {
    background-color: var(--header-color);
    font-size: 25px;
    position: relative;
    top: 20px;
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 20px;
    text-align: center;
}

#burger {
    display: none;
}

@media only screen and (max-width: 920px) {
    #header-section #chapter {
        top: 0px;
        padding: 0px;
        height: fit-content;
        margin: 15px
    }
}

/* ------------- MAIN ------------- */

#main-section {
    display: flex;
    justify-content: space-evenly;
    font-family: var(--font-family);
}

#main-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--main-containers-color);
    box-shadow: 0px 0px 2px 5px var(--main-containers-color);
    width: 70%;
    max-width: 430px;
    height: 200px;
    font-size: 25px;
}

/* #main-section div h1 {
    margin: 10px 0px 20px 10px;
} */



@media only screen and (max-width: 1000px) {
    #main-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
}

/* ------------- FOOTER ------------- */

@media only screen and (max-width: 600px) {
    #main-section {
        flex-direction: column;
        margin: 10px auto;
        width: fit-content;
        gap: 60px
    }

    #main-section div {
        width: 100%;
    }
}

/* ------------------------------------ */

@media only screen and (max-width: 920px) {
    header {
        display: flex;
        position: fixed;
        top: 0;
        width: fit-content;
        margin: 0px 0px 0px auto;
        border-bottom-left-radius: 25px;
        background-color: rgba(0, 0, 0, 0);
        transform: translateX(180px);
        right: 0px;
    }
    header.open {
        transform: translateX(0px);
        right: 0px
    }
    #left-header-container {
        order: 1
    }
    #right-header-container {
        order: 2
    }
    #header-section #chapter {
        /* position: absolute; */
        /* left: 0px; */
        /* top: 0; */
        margin: 0px;
        padding: 15px;
        align-self: flex-start;
        border-radius: 0px;
        border-bottom-left-radius: 25px;
    }
    #header-section nav ul {
        flex-direction: column;
        width: fit-content;
        gap: 20px;
        background-color: var(--header-color);
    }
    #header-section nav ul:first-of-type {
        border-bottom-left-radius: 25px;
    }
    #burger {
        display: block;
        align-self: flex-start;
        /* position: absolute; */
        /* right: 215px; */
        font-size: 45px;
        margin: 10px 10px;
        cursor: pointer;
    }


    main {
        margin-top: 150px;
    }
}

/* @media only screen and (max-width: 540px) {
    #header-section nav {
        flex-direction: column;
        justify-content: center;
    }
    #header-section nav ul {
        display: flex;
        flex-direction: column;
    }
} */